In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.sql.functions import row_number, to_timestamp, year, month, dayofmonth, col

In [2]:
spark = (
    SparkSession.builder.appName("Transaction Processor")
    .master("spark://spark-master:7077")
    .getOrCreate()
)

In [3]:
df = spark.read.csv(
    "hdfs://hadoop:9000/data/transactions/raw/HI-Small_Trans.csv",
    header=True,
    inferSchema=True,
)
df = df.withColumnRenamed("Account2", "From Account") \
       .withColumnRenamed("Account4", "To Account")
df.printSchema()
df.show(5)

root
 |-- Timestamp: string (nullable = true)
 |-- From Bank: integer (nullable = true)
 |-- From Account: string (nullable = true)
 |-- To Bank: integer (nullable = true)
 |-- To Account: string (nullable = true)
 |-- Amount Received: double (nullable = true)
 |-- Receiving Currency: string (nullable = true)
 |-- Amount Paid: double (nullable = true)
 |-- Payment Currency: string (nullable = true)
 |-- Payment Format: string (nullable = true)
 |-- Is Laundering: integer (nullable = true)

+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+
|       Timestamp|From Bank|From Account|To Bank|To Account|Amount Received|Receiving Currency|Amount Paid|Payment Currency|Payment Format|Is Laundering|
+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+
|2022/09/01 00:20|       10|   8000EBD30|     10| 8000EBD30|        3697.34|         US Dollar|    3697.34|       US Dollar|  Reinvestment|            0|
|2022/09/01 00:20|     3208|   8000F4580|      1| 8000F5340|           0.01|         US Dollar|       0.01|       US Dollar|        Cheque|            0|
|2022/09/01 00:00|     3209|   8000F4670|   3209| 8000F4670|       14675.57|         US Dollar|   14675.57|       US Dollar|  Reinvestment|            0|
|2022/09/01 00:02|       12|   8000F5030|     12| 8000F5030|        2806.97|         US Dollar|    2806.97|       US Dollar|  Reinvestment|            0|
|2022/09/01 00:06|       10|   8000F5200|     10| 8000F5200|       36682.97|         US Dollar|   36682.97|       US Dollar|  Reinvestment|            0|
+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+
only showing top 5 rows

In [4]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, to_timestamp

df = df.withColumn("ts", to_timestamp("Timestamp", "yyyy/MM/dd HH:mm"))
window_spec = Window.orderBy("ts", "From Bank", "From Account", "To Bank", "To Account")
df = df.withColumn("txn_id", row_number().over(window_spec))

df.show(5)

+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+-------------------+------+
|       Timestamp|From Bank|From Account|To Bank|To Account|Amount Received|Receiving Currency|Amount Paid|Payment Currency|Payment Format|Is Laundering|                 ts|txn_id|
+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+-------------------+------+
|2022/09/01 00:00|        1|   800057A10|     12| 800473570|        1433.68|         US Dollar|    1433.68|       US Dollar|        Cheque|            0|2022-09-01 00:00:00|     1|
|2022/09/01 00:00|        1|   80005C0A0|   1588| 8003AC470|         427.27|         US Dollar|     427.27|       US Dollar|           ACH|            0|2022-09-01 00:00:00|     2|
|2022/09/01 00:00|        1|   80005E740|   1362| 800256180|         3698.2|         US Dollar|     3698.2|       US Dollar|   Credit Card|            0|2022-09-01 00:00:00|     3|
|2022/09/01 00:00|        1|   8000EBF70| 220271| 80CD447B0|        5529.28|         US Dollar|    5529.28|       US Dollar|          Wire|            0|2022-09-01 00:00:00|     4|
|2022/09/01 00:00|        1|   8001111F0|   3242| 802DB2450|         268.51|         US Dollar|     268.51|       US Dollar|   Credit Card|            0|2022-09-01 00:00:00|     5|
+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+-------------------+------+
only showing top 5 rows

In [5]:
df.groupBy("Is Laundering").count().show()

+-------------+-------+
|Is Laundering|  count|
+-------------+-------+
|            1|   5177|
|            0|5073168|
+-------------+-------+

In [6]:
df_sus = df.filter(df["Is Laundering"] == 1)

In [7]:
from pyspark.sql.functions import col, lit

from_parties = df_sus.select(
    col("From Bank").alias("Bank"),
    col("From Account").alias("Account")
)

to_parties = df_sus.select(
    col("To Bank").alias("Bank"),
    col("To Account").alias("Account")
)

# Union l·∫°i ‚Üí distinct ƒë·ªÉ l·∫•y t·∫≠p nghi ng·ªù
suspect_parties = from_parties.union(to_parties).distinct()

In [8]:
df_from_match = df.join(
    suspect_parties,
    (df["From Bank"] == suspect_parties["Bank"]) &
    (df["From Account"] == suspect_parties["Account"]),
    how="inner"
)

In [9]:
df_to_match = df.join(
    suspect_parties,
    (df["To Bank"] == suspect_parties["Bank"]) &
    (df["To Account"] == suspect_parties["Account"]),
    how="inner"
)

In [10]:
df_related = df_from_match.union(df_to_match).dropDuplicates(["txn_id"])

In [11]:
print(f"üìå S·ªë d√≤ng li√™n quan ƒë·∫øn giao d·ªãch nghi ng·ªù: {df_related.count()}")
df_related.show(10, truncate=False)

üìå S·ªë d√≤ng li√™n quan ƒë·∫øn giao d·ªãch nghi ng·ªù: 616596
+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+-------------------+------+------+---------+
|Timestamp       |From Bank|From Account|To Bank|To Account|Amount Received|Receiving Currency|Amount Paid|Payment Currency|Payment Format|Is Laundering|ts                 |txn_id|Bank  |Account  |
+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+-------------------+------+------+---------+
|2022/09/01 00:00|1        |8001364A0   |1      |8001364A0 |10.3           |US Dollar         |10.3       |US Dollar       |Reinvestment  |0            |2022-09-01 00:00:00|6     |1     |8001364A0|
|2022/09/01 00:00|1        |8001BA930   |1411   |8019F58F0 |3690.43        |US Dollar         |3690.43    |US Dollar       |ACH           |0            |2022-09-01 00:00:00|16    |1     |8001BA930|
|2022/09/01 00:00|3        |800E5F1D0   |21381  |802FFC060 |41052.82       |Yuan              |41052.82   |Yuan            |Credit Card   |0            |2022-09-01 00:00:00|76    |21381 |802FFC060|
|2022/09/01 00:00|4        |80E435B80   |4      |80E435B80 |121.14         |Yuan              |121.14     |Yuan            |Reinvestment  |0            |2022-09-01 00:00:00|157   |4     |80E435B80|
|2022/09/01 00:00|7        |8076E1730   |122047 |8083E2020 |1946560.01     |UK Pound          |1946560.01 |UK Pound        |ACH           |0            |2022-09-01 00:00:00|233   |122047|8083E2020|
|2022/09/01 00:00|10       |80639B830   |10     |80639B830 |783.08         |Ruble             |783.08     |Ruble           |Reinvestment  |0            |2022-09-01 00:00:00|360   |10    |80639B830|
|2022/09/01 00:00|11       |8001FD490   |11657  |800C74670 |3526.4         |Euro              |3526.4     |Euro            |Credit Card   |0            |2022-09-01 00:00:00|385   |11    |8001FD490|
|2022/09/01 00:00|11       |8001FD490   |11657  |800C74670 |5868.66        |Euro              |5868.66    |Euro            |ACH           |0            |2022-09-01 00:00:00|386   |11    |8001FD490|
|2022/09/01 00:00|11       |800256CC0   |11     |800256CC0 |5476.92        |Euro              |5476.92    |Euro            |Reinvestment  |0            |2022-09-01 00:00:00|388   |11    |800256CC0|
|2022/09/01 00:00|11       |8009636A0   |22     |802B81EB0 |12367.06       |Euro              |12367.06   |Euro            |Credit Card   |0            |2022-09-01 00:00:00|392   |11    |8009636A0|
+----------------+---------+------------+-------+----------+---------------+------------------+-----------+----------------+--------------+-------------+-------------------+------+------+---------+
only showing top 10 rows

In [12]:
df_related.groupBy("Is Laundering").count().show()

+-------------+------+
|Is Laundering| count|
+-------------+------+
|            1|  5177|
|            0|611419|
+-------------+------+

In [13]:
df_related = df_related.withColumn("year", year("ts")) \
       .withColumn("month", month("ts")) \
       .withColumn("day", dayofmonth("ts"))

window_spec = Window.partitionBy("year", "month", "day") \
                    .orderBy("ts", "txn_id")

df_related = df_related.withColumn("txn_id", row_number().over(window_spec))

In [15]:
print(df_related.rdd.getNumPartitions())

4

In [16]:
df_related.write.partitionBy("year", "month", "day") \
  .mode("overwrite") \
  .parquet("hdfs://hadoop:9000/data/transactions/partitioned")

In [17]:
spark.stop()